.wrapDiv {
  background-color: #272829;
  min-height: 757px;
  font-family: cursive;
  height: 100%;
  
  a{
    text-decoration: none;
    color: black;
  }
  img {
    margin:auto;
    display: block;
    width: 200px;
    border: 8px solid #2c2f3f;
    border-radius: 50%;
  }
  p {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
    color: white;
  }
  .icons {
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding: 8px 33px;
  }
  h3 {
    color: white;
    margin-top: 20px;
  }
 
}

